body,
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", "Ubuntu", sans-serif;
}
.v-application .my-4 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
td,
th {
  border-bottom: 1px solid #333;
}
table {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
}
